<header>
  <nav ng-include="'logged-in/partials/logged-in-nav.html'"></nav>
</header>

<div class="container">

  <div class="jumbotron">
    <h2>Entry History</h2>
    <div class="table-responsive">
      <table class="table table-hover">
        <tr class="success">
          <td>Time Frame</td>
          <td>Paint Intensity</td>
          <td>Location</td>
          <td>Description</td>
        </tr>
        <tr>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
        </tr>
      </table>
    </div>
  </div>

</div> <!-- /container -->