<header>
    <nav ng-include="'logged-in/partials/logged-in-nav.html'"></nav>
</header>

<div class="container">
    <div class="jumbotron">
        <h4>{{ entriesCount }} entries</h4>
        <div class="form-group">
            <span class="label">by: </span>
            <select ng-model="orderEntries">
                <option value="startDate">Start date</option>
                <option value="painLevel">Pain Intensity</option>
                <option value="joint">Location</option>
            </select>
            <label for="ascending"> ascending</label>
            <input id="ascending" type="radio" ng-model="direction">
            <label for="descending"> descending</label>
            <input id="descending" type="radio" ng-model="direction" value="reverse">
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr class="success">
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Paint Intensity</th>
                    <th>Location</th>
                    <th>Description</th>
                </tr>
                <tr ng-repeat="(entryKey, entry) in entries | orderBy:orderEntries:direction">
                    <td>
                        <a>
                            <icon class="glyphicon glyphicon-trash" class="btn btn-secondary"
                                  ng-click="deleteEntry(entryKey)" title="Delete entry"></icon>
                        </a>
                        {{ entry.startDate }}</td>
                    <td>{{ entry.endDate }}</td>
                    <td>{{ entry.painLevel }}</td>
                    <td>{{ entry.joint }}</td>
                    <td>{{ entry.description }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="jumbotron">
        <h4>New Entry</h4>
        <form name="myform" ng-submit="addEntry()" novalidate>
        <div class="row">
            <div class="col-sm-6">
                <div class="dropdown form-group">
                    <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target="#">
                        <div class="input-group date">
                            <input type="text" class="form-control" data-ng-model="dateRangeStart" placeholder="Start Date">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="dateRangeStart"
                                        data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed' }"
                                        data-on-set-time="startDateOnSetTime()"
                                        data-before-render="startDateBeforeRender($dates)"></datetimepicker>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="dropdown form-group">
                    <a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown" data-target="#">
                        <div class="input-group date">
                            <input type="text" class="form-control" data-ng-model="dateRangeEnd" placeholder="End Date">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="dateRangeEnd"
                                        data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd', renderOn: 'start-date-changed' }"
                                        data-on-set-time="endDateOnSetTime()"
                                        data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <select class="form-control" type="number" name="painLevel" ng-model="entry.painLevel"
                            ng-required="true">
                        <option value="" disabled selected>Select Pain Intensity</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <select class="form-control" name="joint" ng-model="entry.joint" ng-required="true">
                        <option value="" disabled selected>Select Joint Affected</option>
                        <option value="Right big toe">Right big toe</option>
                        <option value="Left big toe">Left big toe</option>
                        <option value="Right ankle">Right ankle</option>
                        <option value="Left ankle">Left ankle</option>
                        <option value="Right elbow">Right elbow</option>
                        <option value="Left elbow">Left elbow</option>
                        <option value="Right finger(s)">Right finger(s)</option>
                        <option value="Left finger(s)">Left finger(s)</option>
                        <option value="Other joint(s)">Other joint(s)</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                        <textarea class="form-control" id="description" rows="1" name="description"
                                  ng-model="entry.description" placeholder="Description (optional)"
                                  style="min-width: 260px;"></textarea>
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group row text-center">
                    <div class="col-sm-12">
                        <button type="submit" ng-disabled="myform.$invalid" class="btn btn-primary">+</span></button>
                    </div>
                </div>
            </div>
        </div>

        <p class="message error" ng-show="message">{{ message }}</p>
        </form>
    </div>
</div>
<!-- /container -->
