<header>
  <nav ng-include="'logged-in/partials/logged-in-nav.html'"></nav>
</header>

<div class="container">

  <div class="jumbotron">
    <h2>Entry History</h2>
    <div class="table-responsive">
      <table class="table table-hover">
        <tr class="success">
          <th>Start Date</th>
          <th>End Date</th>
          <th>Paint Intensity</th>
          <th>Location</th>
          <th>Description</th>
        </tr>
        <tr ng-repeat="(entryKey, entry) in entries">
          <td>
            <a><icon class="glyphicon glyphicon-trash" class="btn btn-secondary"
                     ng-click="deleteEntry(entryKey)" title="Delete entry"></icon></a>
            {{ entry.startDate }}</td>
          <td>{{ entry.endDate }}</td>
          <td>{{ entry.painLevel }}</td>
          <td>{{ entry.joint }}</td>
          <td>{{ entry.description }}</td>
        </tr>
      </table>
    </div>
  </div>

</div> <!-- /container -->