<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Gout Tracker</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="">Home</a></li>
        <li><a href="">Add entry</a></li>
        <li><a href="">Entries log</a></li>
        <li><a href="">Analyze</a></li>
        <li><a href="">Settings</a></li>
        <li><a href="">Log out</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">

  <div class="jumbotron">
    <ul class="nav">
      <li><a>Add entry</a></li>
      <li><a>Entry log</a></li>
    </ul>
    <p>Graph display.
  </div>

</div> <!-- /container -->