<header>
  <nav class="cf" ng-include="'authentication/partials/nav.html'"></nav>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-4">
        <h5>Please create an account to start tracking.</h5>
      <form name="myform" ng-submit="register()" novalidate>
        <div class="form-group row">
          <div class="col-sm-5">
            <input class="form-control" type="text" name="firstname" placeholder="First Name"
              ng-model="user.firstname" ng-required="true">
            <p class="error" ng-show="myform.firstname.$invalid && myform.firstname.$touched">
              Please enter your first name.</p>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-5">
            <input class="form-control" type="text" name="lastname" placeholder="Last Name"
              ng-model="user.lastname" ng-required="true">
            <p class="error" ng-show="myform.lastname.$invalid && myform.lastname.$touched">
              Please enter your last name.</p>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-5">
            <input type="email" name="email" class="form-control" placeholder="Email"
              ng-model="user.email" ng-required="true">
            <p class="error" ng-show="myform.email.$invalid && myform.email.$touched">
              Please enter a valid email.</p>
          </div>
        </div>
        <div class="form-group row text-center">
          <div class="col-sm-5">
            <input type="password" name="password" class="form-control" placeholder="Password" 
              ng-model="user.password" ng-required="true">
            <p class="error" ng-show="myform.password.$invalid && myform.password.$touched">
              Please enter a password.</p>
          </div>
        </div>
        <div class="form-group row text-center">
          <div class="col-sm-5">
            <p class="message error" ng-show="message">{{ message }}</p>
            <button type="submit" ng-disabled="myform.$invalid" class="btn btn-primary">
              Register</button>
            <p>or <a href="#/login">log in</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
